body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
    margin-bottom: 20px;
}

.product-image img {
    width: 200px;
    border-radius: 10px;
}

.product-details {
    margin-top: 20px;
}

.product-thumbnails {
    margin-top: 20px;
}

.product-thumbnails img {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid transparent;
}

.product-thumbnails img:hover,
.product-thumbnails img.active {
    border-color: #000;
}

.cart-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.cart-container h2 {
    margin-bottom: 20px;
}

#cart-items {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
}

#cart-items li {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

#cart-items img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#cart-items .item-details {
    display: flex;
    align-items: center;
}

#cart-items .remove-item {
    cursor: pointer;
    color: red;
    margin-left: 10px;
}

#checkout {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#checkout:hover {
    background-color: #218838;
}

button{
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}