*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;

}

.produtos-container{
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
}



.imagem{
    max-width: 100%;
    height: auto;
}

.avaliacoes{
    width: 100px;
}

.text-sub{
    text-decoration: line-through;
}

.container-iphone{
    display: flex;
    justify-content: space-around;
    justify-content: right;
}

.texto-logo{
    font-size: 70px;
    color:crimson;
}

.sub-titulo{
    color:crimson;
    font-size: 20px;
}

button{
    padding: 10px;
    font-size: 20px;
    background-color: #28a745;
    color: #ffffffff;
    border-radius: 40px;
    border-style: none;
}

button:hover{
    background-color:aquamarine;
}
